.cashBack
  .rewardControl.dollars.yep
    .rewardInputContainer
      %input#customer_cash_back_rate.reward{:name => "customer[cash_back_rate]", :placeholder => "10.00", :type => "text", :value => "10.00"}
    .unitContainer
      %a.dollars.units.yep.selected
        %i.md.md-radio-button-off.md-radio-button-on
        %span.unit 
          Dollars
      %a.percent.units.unselected.yep
        %i.md.md-radio-button-off
        %span.unit 
          Percent