.table-search-form{
	.input-group-addon{
		background:transparent;
		border:none;
		border-left:1px solid #dddddd;
		color:#bbbbbb;
		padding-right:0;
	}
	input.form-control{
		border:none;
		background:transparent;
		box-shadow:none;
	}
}


