.base-table{
	margin-bottom:0;
	thead{
		text-transform:uppercase;
		font-size:.8em;
		background-color:tint($primary-color,95%);
		border-top:1px solid tint($primary-color,80%);
		border-bottom:1px solid tint($primary-color,80%);
		tr{
			th{
				border-bottom:1px solid tint($primary-color,80%);
				padding-top:$baseline/1.5!important;
				padding-bottom:$baseline/1.5!important;
			}
		}
	}
	tbody{
		tr{
			transition-duration:.3s;
			td{
				padding-top:$baseline/1.5!important;
				padding-bottom:$baseline/1.5!important;
			}
			&:nth-of-type(odd){
				background-color:#FDFCFC;
			}
			&:hover{
				background-color:#f2f2f2;
			}
		}
	}

}




