.base-table{
	margin-bottom:0;
	thead{
		text-transform:uppercase;
		background-color:tint($primary-color,95%);
		border-top:1px solid tint($primary-color,80%);
		border-bottom:1px solid tint($primary-color,80%);
		tr{
			th{
				border-bottom:1px solid tint($primary-color,80%);
				padding-top:$baseline!important;
				padding-bottom:$baseline!important;
			}
		}
	}
	tbody{
		tr{
			td{
				padding-top:$baseline!important;
				padding-bottom:$baseline!important;
			}
			&:nth-of-type(odd){
				background-color:#f9f9f9;
			}
		}
	}

}




