.base-table{
	margin-bottom:0;

	thead{
		font-size:.9em;
		border-bottom:none;

		tr{

			th{
				border-bottom:1px solid #ddd;
				padding-top:$baseline/1.5!important;
				padding-bottom:$baseline/1.5!important;
			}
		}
	}
	tbody{
		tr{
			td{
				vertical-align:middle;
				padding-top:$baseline/1.5!important;
				padding-bottom:$baseline/1.5!important;
			}
			&:hover{
				background-color:#f2f2f2;
			}
		}
	}

}




