%nav.navbar.navbar-inverse.navbar-default.navbar-fixed-top.main-nav#main-nav
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header.text-center.full-width
      %a.navbar-brand.full-width.text-center{:href => "/login"} 
        %img{:src=>"stylesheets/images/coopt_logo@2x.png", :width=>"116", :height=>"25px", :style=>"display:inline; position:relative; left:30px;"}

