;;;
"title": "Abandon cart",
"layout": "new-cart"
;;;

///mobile nav
%nav.navbar.navbar-inverse.navbar-default.navbar-fixed-bottom.main-nav.visible-xs{:style=>"height:57px;"}
	.container
		%ul.list-inline.pull-right.no-margin-bottom
			%li
				%a.btn.btn-wire{:href => "/sales-report"} 
					Preview
			%li
				%a.btn.btn-info{:href => "/sales-report"} 
					Save and close
			%li
				.dropup
					%button.more.btn-link.btn.white-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
						%i.fa.fa-ellipsis-h
					%ul.dropdown-menu{:role => "menu"}
						%li
							%a{:href => "#"} 
								Send test email
						%li
							%a{:href => "#"} 
								Reset template
						%li
							%a{:href => "#"} 
								Delete reminder
	}

%nav.navbar.navbar-inverse.navbar-default.navbar-fixed-top.main-nav
	.container
		.navbar-header.white-text
			%h2.regular-font-name
				%a.close-popup.half-margin-right{:href=>"/abandon"}
					×
				Fourth Reminder
		%ul.nav.navbar-nav.pull-right.actions.hidden-xs
			%li
				%a.btn.btn-wire{:href => "/abandon"} 
					Preview
			%li
				%a.btn.btn-info{:href => "/abandon"} 
					Save and close
			%li
				%button.more.btn-link.btn.white-link.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
					%i.fa.fa-ellipsis-h
				%ul.dropdown-menu.dd{:role => "menu"}
					%li
						%a{:href => "#"} 
							Send test email
					%li
						%a{:href => "#"} 
							Reset template
					%li
						%a{:href => "#"} 
							Delete reminder





%section.invert-section.text-center.no-padding.tabs-fixed-top
	.container
		.row
			.col-lg-12
				%ul.nav.nav-tabs.nav-tabs-default
					%li.active
						%a{:href=>"/abandon/edit"}
							Settings
					%li
						%a{:href=>"/abandon/edit/email"}
							Email body
.padding-top

%section.no-padding-bottom
	.container
		.row
			.col-md-3
				%h3.quarter-margin-bottom.bold-font-name.no-margin-top.dark-text-color
					Details
				%p.half-margin-bottom
					=lorem.words(8)
			.col-md-9
				.panel
					.panel-body.padded
						%form.margin-bottom
							.form-group
								%label
									Email subject
								%input.form-control.input-lg{:placeholder=>"I’m an example subject to provide context"}
						%form
							.form-group
								%label
									Store logo URL
								%input.form-control.input-lg{:placeholder=>"http://path/to/logo.png"}


%section.no-padding-bottom
	.container
		.row
			.col-md-3
				%h3.quarter-margin-bottom.bold-font-name.no-margin-top.dark-text-color
					Delivery
				%p.half-margin-bottom
					=lorem.words(8)
			.col-md-9
				.panel
					.panel-body.padded
						.margin-bottom
							%label
								Delay
							%p.half-margin-bottom
								How long after checkout has started do you want to send this reminder?
							%form.form-inline
								%select.form-control.input-lg
									%option
										4
								%select.form-control.input-lg
									%option
										Miniutes
						.margin-bottom
							%label
								Send on Captured
								%span
									%i.fa.fa-question-circle-o.tooltip-up.body-text-color{"data-toggle"=>"tooltip", :title=>"Nunc nec pharetra leo, eu aliquet enim. Donec porta tempus dui. "}
							%form
								.checkbox.no-margin.no-padding.height-auto
									%label
										%input{:type=>"checkbox", :checked=>"checked"}
										%span.quarter-margin-left
											Send for checkouts captured before the shipping page
											
						.margin-bottom
							%label
								Send on Abandoned
								%span
									%i.fa.fa-question-circle-o.tooltip-up.body-text-color{"data-toggle"=>"tooltip", :title=>"Nunc nec pharetra leo, eu aliquet enim. Donec porta tempus dui. "}
							%form
								.checkbox.no-margin.no-padding.height-auto
									%label
										%input{:type=>"checkbox", :checked=>"checked"}
										%span.quarter-margin-left
											Send for checkouts abandoned on or after the shipping page
											
								
							
%section.no-padding-bottom
	.container
		.row
			.col-md-3
				%h3.quarter-margin-bottom.bold-font-name.no-margin-top.dark-text-color
					Delivery
				%p.half-margin-bottom
					=lorem.words(8)
			.col-md-9
				.panel
					.panel-body.padded
						.margin-bottom
							%label
								Background
								%span
									%i.fa.fa-question-circle-o.tooltip-up.body-text-color{"data-toggle"=>"tooltip", :title=>"Nunc nec pharetra leo, eu aliquet enim. Donec porta tempus dui. "}
							.color-picker
								%p.no-margin-bottom
									[Color picker]
						.margin-bottom
							%label
								Button
								%span
									%i.fa.fa-question-circle-o.tooltip-up.body-text-color{"data-toggle"=>"tooltip", :title=>"Nunc nec pharetra leo, eu aliquet enim. Donec porta tempus dui. "}
							.color-picker
								%p.no-margin-bottom
									[Color picker]
						.margin-bottom
							%label
								Link
								%span
									%i.fa.fa-question-circle-o.tooltip-up.body-text-color{"data-toggle"=>"tooltip", :title=>"Nunc nec pharetra leo, eu aliquet enim. Donec porta tempus dui. "}
							.color-picker
								%p.no-margin-bottom
									[Color picker]
						.no-margin-bottom
							%label
								Text
								%span
									%i.fa.fa-question-circle-o.tooltip-up.body-text-color{"data-toggle"=>"tooltip", :title=>"Nunc nec pharetra leo, eu aliquet enim. Donec porta tempus dui. "}
							.color-picker
								%p.no-margin-bottom
									[Color picker]
											
				
				











